
#index_content {
    position: relative;
    padding-top: 15px;
    padding-left: 20px;
}

#index_text {
    position: relative;
    float: left;
    font-size: 18px;
    width: 420px;
    margin-right: 20px;
}

#game_holder {
    color: #DDDDDD;
    position: relative;
    float: left;
    width: 400px;
    padding: 0px 12px 15px 12px;
}

#canvas {
    background-color: #777;
    border: 1px solid;
}

#game_description {
    font-size: 14px;
    line-height: 130%;
}

#game_description p {
	margin: 5px 0px;
}
