
#resume_title {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    font-weight: bold;
    font-size: 35px;
}

#resume_pdf_link {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    font-size: 16px;
}

.resume_header {
	padding-left: 55px;
    font-weight: bold;
    text-decoration: underline;
    font-size: 22px;
}

.resume_section_text {
    font-family: 'Arial', sans-serif;
    line-height: 140%;
    font-size: 15px;
	margin-bottom: 18px;
}

.resume_left {
	float: left;
	width: 46%;
}

.resume_right {
	position: absolute;
	left: 48%;
	width: 50%;
}

.resume_text_title {
    font-family: 'Arial', sans-serif;
    font-size: 17px;
    font-weight: bold;
}

.resume_text_subtitle {
	padding-left: 30px;
	font-size; 16px;
	font-weight: bold;
	color: #444444;
	text-shadow: 0px 1px 0px #e5e5ee;
}

.course_title {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
	cursor: pointer;
	line-height: 1.8;
}

.course_text {
	display: none;
}

.course_symbol {
	width: 14px;
	float: left;
}

.resume_list {
    margin: 4px 0 4px 25px;
    padding: 0;
}

.right_aligned {
    position: relative;
    float: right;
}