
#games_content {
    padding-top: 15px;
    padding-left: 20px;
    position: relative;
    font-family: 'Arial', sans-serif;
}

#game {
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #AAAAAA;
}

#canvas {
    position: relative;
    float: left;
    background-color: #777;
    border: 1px solid;
    background-image: url("https://dl.dropbox.com/sh/631wm7d11mdr3mj/fvNz0RgTf_/portfolio/static/images/space_sprites/background.png");
}

.fb-like {
    margin-left: -25px;
    top: -5px;
}

#highscores {
    position: relative;
    float: left;
    margin-left: 50px;
    margin-top: 30px;
}

#highscores h1 {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
    padding: 0;
}

#scores td {padding-right:20px;}

#hs_nav {
    margin-left: 30px;
}

#hs_goto {
    width: 40px;
    margin-left: 10px;
}

#hs_goto_button {
    margin-right: 10px;
}

#hs_left {
    position: relative;
    top: 8px;
    height: 25px;
    width: 12px;
}

.instructions {
    position: relative;
    font-size: 0.8em;
    text-align: center;
    width: 480px;
    top: -20px;
}

#instr_p {
    float: left;
}

#feedback {
    position: relative;
    float: left;
    top: -10px;
}

#feedback_input {
}

#feedback_button {
    position: absolute;
    bottom: -20px;
    left: 100px;
}

#hs_right {
    position: relative;
    top: 8px;
    height: 25px;
    width: 12px;
}

#submit_highscore {
    position: absolute;
    display: none;
    left: 140px;
    top: 420px;
    width: 400px;
    height: 100px;
}

#highscore_button {
    position: relative;
    margin-left: 80px;
}

#adsense_med_rect {
    position: absolute;
    margin-top: -180px;
    left: 540px;
}

#adbrite_left_banner {
    position: absolute;
    left: 25px;
    top: 120px;
}

.adbrite_bottom {
    position: relative;
    left: 20px;
}