
.instructions {
    font-family: 'Arial', sans-serif;
    width: 550px;
    text-align: center;
    color: #EEEEEE;
    text-shadow: 1px 1px 1px #000;
    margin-left: -30px;
}

#feedback_input {
    margin: 0;
    padding: 4px;
}

#feedback_button {
    display: block;
    padding: 4px;
    margin: -7px 0 0 15%;
}