{% extends "base.html" %}

{% block nav_contact %}<span id="navcur"><a class="navlink" href="/contact/">CONTACT</a></span>{% endblock %}

{% block content %}
<div id="content">
  <div id="contact_text">
    <span class="contact_label">Email:</span>
    <a href="mailto:sampullman@gmail.com">sampullman@gmail.com</a> <br />
    <span class="contact_label">Github:</span>
    <a  href="https://github.com/sampullman">https://github.com/sampullman</a><br />
    <span class="contact_label">Android Dev:</span>
    <a href="https://play.google.com/store/search?q=3DBJ&c=apps">https://play.google.com/store/search?q=3DBJ</a>
  </div>
</div>
{% endblock content %}
