{% extends "base_test.html" %}
{% load staticfiles %}
{% block scripts %}
{% endblock %}
{% block head %}
<link rel="canonical" href="http://www.sampullman.com/games" />
<link rel="stylesheet" href="https://dl.dropbox.com/u/80197158/portfolio/static/css/games_style_test.css" type='text/css' />
{% endblock %}

{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
<div id="games_content">
  <iframe id="game" width="980" height="565" src="/games/space_game_test/"></iframe>
  <div style="clear: both;"></div>
  <div class="instructions">
    <p id="instr_p">Xenophobia is a Galaga clone in the works. It relies heavily on free graphics created by
      <a href="http://www.kenney.nl/" target="_blank">Kenney</a>.</p>
    <p>Arrow keys or w/a/s/d move the ship around, space shoots the main weapon, and shift fires a missile. Enemies have a small
      chance of dropping powerups. Toggle the volume or pause the game with buttons in the right hand corner. Your progress is
      saved each level if cookies are enabled, and you can restart a level if you lose all your lives. </p>
  </div>
  <div id="feedback">
    <textarea id="feedback_input" rows="5" cols="55">Feedback</textarea>
    <input id="feedback_button" type="submit" value="Submit" />
  </div>
</div>
{% endblock %}
{% block left_banner %}
{% endblock %}
