{% extends "base_test.html" %}
{% load staticfiles %}

{% block scripts %}
<!--<script language='javascript' src='{% static "js/buzz.js" %}' type='text/javascript'></script>-->
<script type='text/javascript' src='https://dl.dropbox.com/sh/631wm7d11mdr3mj/vcFk6qnt2a/portfolio/static/js/sprite.js'></script>
<script type='text/javascript' src="https://dl.dropbox.com/sh/631wm7d11mdr3mj/WMBwC0dlVd/portfolio/static/js/util.js"></script>
<script type='text/javascript' src="https://dl.dropbox.com/sh/631wm7d11mdr3mj/QPIRNEZpqt/portfolio/static/js/index_style.js"></script>
<script type='text/javascript' src="https://dl.dropbox.com/sh/631wm7d11mdr3mj/kchnXERbv7/portfolio/static/js/game.js"></script>
<script type='text/javascript' src="https://dl.dropbox.com/sh/631wm7d11mdr3mj/WFTi7Jvx-9/portfolio/static/js/objects.js"></script>
{% endblock %}

{% block head %}<link rel="stylesheet" href="https://dl.dropbox.com/u/80197158/portfolio/static/css/index_style_test.css" type='text/css' />{% endblock %}

{% block nav_home %}<span id="navcur"><a class="navlink" href="/">HOME</a></span>{% endblock %}

{% block content %}
<div id="index_content">
  <div id="inner">
  <div id="index_text">
    <span class="indent"></span>Hi, I'm Sam Pullman, and I like to write <a  href="https://github.com/sampullman">code</a>. I
have experience with the Android platform, and my <a  href="/portfolio/">portfolio</a> describes some of the applications I've
worked on.  I'm also familiar with several web technologies; I built this website to learn Django, a python based web framework.
 I'm also interested in distributed systems, augmented reality, and game design.
    <br />
    <br />
    <span class="indent"></span>If you'd like to request a cover letter, commission an android application, or collaborate on a
project you can reach me <a href="mailto:sampullman@gmail.com">here</a>. My current <a  href="/resume/">resum&eacute;</a> is
available in html and pdf form.
  </div>
  <div id="game_holder">
    <canvas id="canvas" width="400" height="300" >
    </canvas>
    <div id="game_description">
      <p class="description_paragraph">
	<span class="indent"></span>
	Here's a simple breakout clone I wrote using the html5 canvas element. Click in the game to begin,
	and use arrow keys to move left or right.
      </p>
      <p class="description_paragraph">
	<span class="indent"></span>
	The blocks are icons of some technologies/platforms I'm familiar with. Destroying the UNIX blocks will
	award another ball, and some blocks will change the size of the ball that hits it.
	Clear the blocks to face the boss!
      </p>
    </div>
  </div>
  </div>
</div>
{% endblock content %}
