{% extends "base.html" %}
{% load staticfiles %}

{% block scripts %}
<script type='text/javascript' src="https://dl.dropbox.com/sh/631wm7d11mdr3mj/DSVCcqaluk/portfolio/static/js/portfolio.js"></script>
{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://dl.dropbox.com/u/80197158/portfolio/static/css/portfolio_style.css" type='text/css' />
<link rel="stylesheet" href="https://dl.dropbox.com/sh/631wm7d11mdr3mj/T7_N-4hh8p/portfolio/static/css/tipsy.css" />
{% endblock %}

{% block nav_portfolio %}<span id="navcur"><a class="navlink" href="/portfolio/">PORTFOLIO</a></span>{% endblock %}

{% block content %}
<div id="content">
  <div id="app_selector">
    <div class="app_icon_holder"><a class="app_icon_link" id="SciGraph_Calculator" href="#nothing"><img class="app_icon" src="https://dl.dropbox.com/sh/631wm7d11mdr3mj/FTQwavQAQL/portfolio/static/images/app_icons/scigraph_calc.png" /></a></div>
    <div class="app_icon_holder"><a class="app_icon_link" id="Molecular_Mass_Calculator" href="#nothing"><img class="app_icon" src="https://dl.dropbox.com/sh/631wm7d11mdr3mj/gruXDpML5w/portfolio/static/images/app_icons/molecular_mass.png" /></a></div>
    <div class="app_icon_holder"><a class="app_icon_link" id="Cube_Droid" href="#nothing"><img class="app_icon" src="https://dl.dropbox.com/sh/631wm7d11mdr3mj/tQhSkYZ_t6/portfolio/static/images/app_icons/cube_droid.png" /></a></div>
    <div class="app_icon_holder"><a class="app_icon_link" id="Quiz_Droid" href="#nothing"><img class="app_icon" src="https://dl.dropbox.com/sh/631wm7d11mdr3mj/8E3AJh4lOt/portfolio/static/images/app_icons/quiz_droid.png" /></a></div>
    <div class="app_icon_holder"><a class="app_icon_link" id="Web_Comic_Reader" href="#nothing"><img class="app_icon" src="https://dl.dropbox.com/sh/631wm7d11mdr3mj/SJfb4r-QQo/portfolio/static/images/app_icons/comic_reader.png" /></a></div>
    <div class="app_icon_holder"><a class="app_icon_link" id="Number_Slide" href="#nothing"><img class="app_icon" src="https://dl.dropbox.com/sh/631wm7d11mdr3mj/Ceg1PeNLrH/portfolio/static/images/app_icons/number_slide.png" /></a></div>
  </div>
  <div id="android_portfolio_subtitle" class="portfolio_subtitle"></div>
  <p id="android_portfolio_text" class="portfolio_text"></p>
  <div id="img_viewer">
    <img class="img_nav" id="img_nav_left"  src="https://dl.dropbox.com/sh/631wm7d11mdr3mj/zXoFz1gIIO/portfolio/static/images/left_btn.png" />
    <span class="screenshot_holder">
      <img class="screenshot" />
    </span>
    <img class="img_nav" id="img_nav_right"  src="https://dl.dropbox.com/sh/631wm7d11mdr3mj/OAjEfNhU4k/portfolio/static/images/right_btn.png" />
  </div>
  <div class="hidden_portfolio_text" id="SciGraph_Calculator">
    <span class="indent">
      <a href="https://github.com/sampullman/android--Scientific-Graphing-Calculator">SciGraph Calculator</a>
      is a powerful calculator app for Android. Some of its capabilities are highlighted below.
      <ul>
	<li>Standard calculator funtionality</li>
	<li>Updates result on the fly as the user enters commands</li>
	<li>Stores previous inputs and results, and keeps the last three visible</li>
	<li>Complex number expressions and trigonometric functions</li>
	<li>Copy/paste between main, conversion, and function entry</li>
	<li>Simultaneously graph up to 3 functions</li>
	<li>Trace mode prints out function values while sliding across X axis</li>
	<li>Calculate all zeros visible on the graph</li>
	<li>Optimized for portrait and widescreen modes</li>
	<li>Minimal, intuitive interface</li>
  </div>
  <div class="hidden_portfolio_text" id="Web_Comic_Reader">
    <span class="indent">
      <a href="https://github.com/sampullman/android--Web-Comic-Reader">Web Comic Reader</a>
      is an android app with a simple interface for reading some of the most popular comics
      on the web.
      <ul>
	<li>12 different comics currently available</li>
	<li>Pre-caches previous and next comics for a smooth experience</li>
	<li>Swipe between comics</li>
	<li>Jump to random comics</li>
	<li>Displays alt text/images when available</li>
	<li>Save comics to SD card</li>
	<li>Offline comic browser for saved comics</li>
	<li>Direct link to the author's merchandise store</li>
      </ul>
  </div>
  <div class="hidden_portfolio_text" id="Cube_Droid">
    <span class="indent">
      <a href="https://github.com/sampullman/android--Puzzle-Droid">Cube Droid</a> is a Rubik's
      Cube implementation for Android. It was a first attempt at using OpenGL ES to create
      something interesting in a 3d environment.
      <ul>
	<li>Rotating the cube is easy and intuitive</li>
	<li>A slider toggles the cube dimensions from 2x2 to 8x8</li>
	<li>Timer that can be shown, hidden, and reset</li>
	<li>Buttons to scramble and reset the cube</li>
	<li>Smooth animations for both the cube and menu</li>
	<li>Displays alt text/images when available</li>
	<li>The cube is saved and restored between sessions</li>
      </ul>
  </div>
</div>
<div class="hidden_portfolio_text" id="Quiz_Droid">
  <span class="indent">
    Quiz Droid is a fun little app that provides quizzes in a variety of topics including
    geography, history, science, and vocabulary. There are currently 8 quizzes totalling
    hundreds of questions, and the content expands with every update.
    <ul>
      <li>Difficulty ratings for each question</li>
      <li>Scoring system that takes into account streaks</li>
      <li>Maintains stats on correct/total answered, streaks, and scores</li>
      <li>Casual, timerless mode that doesn't record scores</li>
      <li>Questions/Answers are reversible</li>
    </ul>
</div>
<div class="hidden_portfolio_text" id="Molecular_Mass_Calculator">
  <span class="indent">
    <a href="https://github.com/sampullman/android--Molecular-Mass-Calculator">Molecular Mass Calculator</a>
    is an application for calculating the molecular mass of any chemical formula. The percentages
    for each mass in the formula are displayed, and the formula is checked against a government database.
    The name of the formula is printed if a match is found. The interface is optimized for portrait and
    landscape modes, resulting in a simple but pleasing app.
</div>
<div class="hidden_portfolio_text" id="Number_Slide">
  <span class="indent">
    <a href="https://github.com/sampullman/android--Number-Slider">Number Slide</a> is an
    implementation of the 8-puzzle and 15-puzzle for android. The app was written as a
    demonstration for a few of android's backwards compatibilty libraries. It contains
    several unique features, which are listed below.
    <ul>
      <li>Displays the optimal number of moves in 8-puzzle mode</li>
      <li>The built in automated solver animates the solution when activated</li>
      <li>Several pre-loaded images are available to use in place of the basic background</li>
      <li>A file browser is included to select any image as the background</li>
    </ul>
</div>
{% endblock content %}
