{% extends "base_test.html" %}
{% load staticfiles %}
{% block scripts %}
<script language='javascript' src="https://dl.dropbox.com/u/80197158/portfolio/static/js/jquery.hotkeys.js" type='text/javascript'></script>
<script language='javascript' src="https://dl.dropbox.com/u/80197158/portfolio/static/js/util_test.js" type='text/javascript'></script>
<script language='javascript' src="https://dl.dropbox.com/u/80197158/portfolio/static/js/sprite.js" type='text/javascript'></script>
<script language='javascript' src="https://dl.dropbox.com/u/80197158/portfolio/static/js/AssetManager.js" type='text/javascript'></script>
<script language='javascript' src="https://dl.dropbox.com/u/80197158/portfolio/static/js/Vec2.js" type='text/javascript'></script>
<script language='javascript' src="https://dl.dropbox.com/u/80197158/portfolio/static/js/Base.js" type='text/javascript'></script>
<script language='javascript' src="https://dl.dropbox.com/u/80197158/portfolio/static/js/Collision.js" type='text/javascript'></script>
<script language='javascript' src="https://dl.dropbox.com/u/80197158/portfolio/static/js/Physics.js" type='text/javascript'></script>
<script language='javascript' src="https://dl.dropbox.com/u/80197158/portfolio/static/js/Shapes.js" type='text/javascript'></script>
<script language='javascript' src="https://dl.dropbox.com/u/80197158/portfolio/static/js/Special.js" type='text/javascript'></script>
<script language='javascript' src="https://dl.dropbox.com/u/80197158/portfolio/static/js/Sandbox.js" type='text/javascript'></script>
<script language='javascript' src="https://dl.dropbox.com/u/80197158/portfolio/static/js/Survive.js" type='text/javascript'></script>
<script language='javascript' src="https://dl.dropbox.com/u/80197158/portfolio/static/js/test.js" type='text/javascript'></script>
{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://dl.dropbox.com/u/80197158/portfolio/static/css/test.css" type='text/css' />
{% endblock %}

{% block content %}
<div id="test_content">
  <div>
    <button id="sandbox" type="button">Sandbox</button>
    <button id="survive" type="button">Survive</button>
    <button id="catch" type="button">Catch</button>
    <button id="sandbox" type="button">Evade</button>
  </div>
  <canvas id="canvas1" width="720" height="480"></canvas>
  <div>
    <input type="text" id="fps_val" width="40" class="test_input"/>
    <button id="fps_button" type="button">Set FPS</button>
  </div>
  <div id="sandbox_input">
    <div>
      <input type="text" id="circle_rad" width="40" class="test_input"/>
      <button id="circle_add" type="button">Circle</button>
    </div>
    <div>
      <input type="text" id="rect_width" width="40" class="test_input"/>
      <input type="text" id="rect_height" width="40" class="test_input"/>
      <button id="rect_add" type="button">Rectangle</button>
    </div>
  </div>
</div>
    
</div>
{% endblock %}
